/* WeatherCard.css */
.centered_text {
  text-align: center;
}

.weather-card {
  max-width: 800px;
  margin: 2rem 0;
  padding: 2rem 1rem;
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.weather-card::before,
.weather-card::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 20px;
  z-index: -1;
}

.weather-card.day::before {
  background: linear-gradient(135deg, #00d2ff 20%, #2f39b0 100%);
}

.weather-card.day::after {
  background-image: radial-gradient(
    farthest-corner at 20px 20px,
    rgb(191, 191, 0) 0%,
    #00d2ff 60%
  );

  opacity: 0;
  animation: gradient-pulse 10s infinite ease-in-out;
}

@keyframes gradient-pulse {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.weather-card.night::before {
  background: linear-gradient(170deg, #0d1038 10%, #16798f 100%);
}

.weather-card.night::after {
  background: linear-gradient(100deg, #0d1038 10%, #16798f 100%);
  opacity: 0;
  animation: gradient-pulse 10s infinite ease-in-out;
}

.weather-header {
  margin-bottom: 1.5rem;
}

.weather-header h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.weather-date {
  margin: 0.5rem 0 0;
  opacity: 0.8;
}

.weather-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.temp-current {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}

.temp-feelslike {
  font-size: 0.9rem;
  opacity: 0.8;
}

.weather-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

.weather-description {
  margin: 0.5rem 0 0;
  text-transform: capitalize;
  font-size: 1.2rem;
}
